.h2 {
  margin: 2rem 0 1.5rem;
  font-size: 1.5rem;
}

.hr {
  margin: 2rem 0;
  background-color: var(--secondary-color);
}

.slogan {
  font-family: var(--monospace-font);
}

.download {
  height: 40px;
  display: flex;
  align-items: center;
  margin: 4rem 0 4rem;
  justify-content: space-between;
}

.download a img{
  margin: 0
}

.downloadTip {
  /*margin-left: 1rem;*/
  color: var(--secondary-color);
}

.previews {
  padding: 0 0 1rem;
  /*background-color: var(--secondary-background-color);*/
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

.previews img {
  border-radius: 1rem;
  margin: 0 0.5rem 0 0;
  width: 230px;
  height: 497px;
}
